{% extends 'base.html' %}

{% block replaceMe %}

	<div>
    	<h4>Assignment 8 - Least and Greatest Common Divisors of Two numbers. App run by {{ request.user }}.</h4>
    </div>
	<div>
		<ul>
			{% for eachItem in result %}
				{% if "Therefore" in eachItem or "question" in eachItem or "only" in eachItem or "don't" in eachItem %}
					<h4 class="alert alert-success">{{ eachItem }}</h4>
				{% else %}
					<h4><li>{{ eachItem }}</li></h4>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	<br>
<a href="{% url 'home' %}" class="btn btn-primary">Home</a>

{% endblock replaceMe %}
