<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<style>
		body {
			margin: 30px;
		}
		.black-border-container {
			border: 1px solid grey;
		}

		.header-container {
			background-color: lime-green;
		}

		.footer-container {
			background-color: lime-green;
		}

		.link-container {
			border: 1px solid black;
			background-color: solid blue;
		}

		.rg-row {
			border: 3px solid grey;
		}

		.fl-col {
			border: 3px dotted grey;
		}
	</style>

	<meta charset="UTF-8">
	<title>H2kInfoSys Python Students Page</title>
</head>

	<body>
		
		<div>
			<h4>H2kInfoSys April 2020 Python Course Assignment Solutions</h4>
		</div>
			
		<div>
			{% block replaceMe %}
				Replace Me Please
			{% endblock replaceMe %}
		</div>

		<div>
			<br>
			<h6>Developed by Khalid</h6>
		</div>

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

	</body>

</html>